<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
  </ion-buttons>

    <ion-title>Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="titulo">Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-button (click)="logout()">Logout</ion-button>
  </div>

  <div id="map-container"></div>
    <div class="map" id="mapa-box" tabindex="0"></div>
  
</ion-content>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<ion-footer class="footer">
  <ion-toolbar>
    <ion-title>
      © 2024 Duber--Joshua y Nicolas
    </ion-title>
  </ion-toolbar>
</ion-footer>

