<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-buttons>

  <h1 class="duber"> D U B E R </h1>
  
  </ion-header>
  <div>
    <ion-button (click)="logout()">Logout</ion-button>
  </div>

  <div id="map-container"></div>
    <div class="map" id="mapa-box" tabindex="0"></div>
  
</ion-content>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<ion-footer class="footer">
  <ion-toolbar>
    <ion-title>
      © 2024 Duber--Joshua y Nicolas
    </ion-title>
  </ion-toolbar>
</ion-footer>























































<!--
@@@@@@@@&&&&&####BBBBGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGBBB###&
@@@@@@&&&&&####BBBGGGGGGGGGPPGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGPPPPPPPPPPPPGGBBBB##
@@@@&&&&&&&####BBGGGGGGGPPPPPPGGGGGGPPPGGGPGGGGGGGPPGGGGGGGPGGGGGGGGPGGGGGGPPGGGGGPPPPPPPPPPPGGGBB##
@@&&&&&&#5YG#5YPBGPY??YPGPPPPGYYYJYPGPGYJ5BYJYYYJYGGPJ??YPGG5YYGPYYGB5YYJJPGGYJ?J5GPPPJ??JPPPPGGB#BB
@&&&&&#&P  ^#: !#P. ^~ .YGPPPP  .~  JB5  ~&7^   ^!#J  !^ .5#!  P7  Y#~  :^5#^ .7  ?BP. ~! .5GPPGBGGB
&&&&&###P   !: !&J  ?5  7G55PP  ^5  ?B5  ~BPB: .GGB~  GJ  J#!  7~  Y#!  JPGB: .JJY5GPJJGY  7GPPPPGGG
&&&#####G  .   !#?  ?Y  7GY55P  .^ .YB5  ~B5G: .GPB~  PBPPGB!  ..  Y#!  ::PGG?^ .~YPP!!?~  JGPPPPGGG
&&######P  ?.  !#J  ?5  7PY5PP  ^B  :B5  ~B5G: .GPB~  GJ..J#!  57  Y#!  YBGB!~7P. :GP::!7!JPP55PPGGG
&#######P  PY  !BP: :^ :55Y5PP  .^  !B5  ~B5G: .G5GY. ~: :PB!  P7  Y#!  ::?#!  !. !GP^:JGPP5555PPGGG
&&&&&##B#PP##PPPPPPY??J5555PPGYYYYY5P5PYY5P5P5YYP55PPYJJYPPP5YYGPYYPGPY5YYPGP5YJJY55PYY5P555555PGGGG
&&&&&&###&&##&#P55YYYYY555PPPPPP555555555555555555555PPP555555P5PPPPPPPPPPPP555555Y5555555555Y5GGGGG
#&&&&&&&#####&B5YYJJYY555PPPPPP555YY5555555555555555555555555555555P5PPPPPP5555555YY55555555YYGGGGGG
##&&&&&&##B#BBPYYYY55555PPPPPPPP555YY5555555555555555YYYYYYYYY55555555555555555YYYYY5555555YY5GGGGGG
B##&&&&&####BG555555555PPPPPPPPPP55YYYY5555555555555555YYYYYYYYYYY555555555555YYYYYY555555YYYGGGGGGG
BBB#&&####BBB5555555555PPPPGGBGPP5P5555Y55555555555555555YYYYYYYYYYYY55555YYYYYYYYYYY5555YYYGGGGGGGG
BBBB######BBG55PPPPPPPGBB####BGPPP5GG5555555555555555555555YYYYYYYYYYYYYYYYYYYYYYYYY5555YYJPBGGGGGGG
BBBBBB####BB#BBBBBBB###&&&#BBGPPPP5PB#GP5555555555555555555555YYYYYYYYYYYYYYYYYYYYY5555YYJPBGGGGGGGG
BBBBBBB#####&&&&&&&&&&##BBGPPPP55P55PG##BGPPP55555555555555555555YYYYYYYJJJJJYYYYY5555YYYPBGGGGGGB##
BBBBBBBB#&###&&&&#BBGGGPPPPP55555PP5555PB###BBGGGGGBBBBGGGGPPP55555YYYJJJJJJJYYY55555YYYGBBGGGB###BB
BBBBBBBBBB#####&#GPPPPPPPPPPPP5555P55PP55PGB#&&#&&&&########BBGGP555YYJJJJJJJYY55555YY5GBGGBB#&#BGGG
BBBBBBBBBB#######BP55PPPPPPPPPP5PP555PPPP55PPGBB###&&&&&&&#####BGPP55YYJJJJJYY55555YYPBBBB#&#BGGGGGG
###################BGPPPPPPPPPPPPPP555PPPPPP55PPPPPGGBB##&&&&####BGP5YYJJJJYY5PP555PBBB#&&#BGGGGGGGG
######################BPPPPGGGPPPPP555PPPPPPPPPPPPPPPPPPPPGB######BP5YYJJJJY5PP55PBB##&&#BBBBBBBBBBB
###########################B#&##BGPP55PPPPPPPPPPPPPPPPPPPPPPPPGBB##BPYJJJJY5PPGB###&&&#BBBBBBBBBBBBB
#######################&&BJJG#&@@&BP55PPPPPPPPGGGGGGGGPPPPPPPPPPPGBBPYJJJY5PB&&##&&&#BBBBBBBBBBBBBBB
################&&&&&&&&#7?JP&@&BG&G5PPPPPGGGBB###&&##BBGGPPPPPPPPPGPYJJYY5G#GP55#####BBBBBBBBBBBBBB
##############&&&&&&&&&@G7?5#&@&BB@B5PPPPPGGBBGPPG#&@@@@&#BGPPPPPPPP5YJJ5PGGGGGB########BBBBBBBBBBBB
############&&&&&&&&&&&GGPY5BB#&#&@P5PPPPGGBB5J?5##&###&@&&#GGPPGGP5YJJ5GGPPBB#&&&&#######BBBBBBBBBB
#########&&&&&&&&&&@@@#Y5GGGGBBBB#GY5PPPPGG#GJ?YB#&#5P&&#BB&#GPPPP5YJJPGGGGB#&@@&&&##########BBBBBBB
######&&&&&&#&&&@@@@@@#Y5PGGGBBGG5YY5PPPPGG#GJJY##&&&&&&#5YBB5YYYJJ?J5GGPG#&@@@@@@@&&###############
&&&&&&&&###&&@@@@@@@@@&5555PP555YYY5PPPPGGGBBPYJ5BBBB##BPYPG5JJ?????5PGB#&&&&&&&&@@@@@&&############
&&&&&###&BBB###&&&&&###P55555YYYYYPPGGPPGGGBBBBGPGBBB#BGGGP5JJ?????YB&&&&&&&&&&&&&&&@@@@&&##########
&&###&&@@@&#BBB##BBBBB#B55P5YYYY5PPGGGPPPPGGGGBBBBBBGGGGP5YYJJ???JP&&&&&&&&&&&&&&&&&&&&@@@@&&#######
#&&&@@@@@&&&&&&#########P55YYYY5PPPGGPPPPPPPPPPPGGGGPPP555YYYYJJYB&##&&&&&&&&&&&&&&&&&&&&&@@@@&&####
&@@@&&&&&&&&&&&&&##&&&&&PYYYYY5PPPPPPPPPPPPPPPPPPPPPPPPPPP5555YYB#BBG###&&&&&&&&&&&&&&&&&&&&@@@@@&##
&&&&&&&&&&&&&&&&&###B##GYYYYY55555YY5555PPPPPPPPPPPPPPPPPPPP55YPB&&GBBBB###&&&&#B#&&&&&&&&&&&&@@@@@&
&&&&&&&&&&&&&&&&&#BBBBGYYYYYYYYJJJJJJYY5555PPPPPPPPPPPPPPP55YYG55BGBBBBBBB######JP&&&&&&&&&&&&&&@@@@
&&&&&&&&&&&&&&&&&#BBBB5YYYYYYJJ?????JJYYYY5PGGGPPPPPPPPPP55YJG&G5PGGGGBBBBB#&&&G5#&&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&##B5JJJJJJ??77777?JJJYYYPGGGGGPPPPPPP555YJG&&#GB#BGGBBBBBB###B###&&&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&&#G5JJJJ????77777?JJYYY5PGGGGGGPPPPPP55YYJG@&&&&&&&#BBBBBBBBBBBBBB##&&&&&&&&&&&&&&&
&&&&&&&&&&&&&&&&&#PYYJJJ???7777??JJY5555PPPPPGGGPPPP55YYJJG@@@@&&&@&&&###########BBBBB##&&&&&&&&&&&&
&&&&&&&&&&&&&&&&#&#P55YJJ?????JJY55YYYJJJYY5PPGGPPP5YYYJYB@&&@@@@@@@&&&&&&&&&&&#####BBBB####&&&&&&&&
&&&&&&&&&&&&####&&#BGPP55YYY5555YYJJ??????JJY5PGPP55YYJ5#@&&&&&&&@@@@@@@@&&&&&&#&&#########&&#&&&&&&
&&&&&&&&&&&#####&&#&&#BBGPPGGGGGPP5YYYYYYYJJJYPGPP5YYY5#&&&&&&&&&&&&@@&@@@@@@@@&&&&&&&#####&&&&&&&&&
&&&&&&&&&&&#####&&&&&&&&BPPB#BBBGGP55YJJY5PPYY5GP55YYP&&&&&&&&&&&&&&&@@@@@@@@@@@@&&&&&&&&&&&&&&@&&&&
@&&&&&&&&&&####&&&&&&&&#BPPB&&##BGGGPP555YY5PPPGP5Y5GB####&&&&&&&&&&&&@@@@@&@&&&&&@@@@@@&&&&&&&&@@@&
@&&&&&####&&&&&&&&&&&&##GPG##&##BGGGGGGPPP555PGGP5PBB####&&&&&&&&&&&&&&&&@@&&&&&&&&@@@@@@@@@&&&@@@@@
-->